<!DOCTYPE html>
<html class="scroll-smooth" lang="cs">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NDV2X3JG');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>{{ title }}</title>
    <!--SEO meta tagy-->
    <meta name="description" content="Web development a design znám jak svoje boty. Vytvořím vám web na míru, který naplní potřeby vašeho podnikání.">
    <meta name="keywords" content="web developer, web designer, web na míru, web development, programátor">
</head>

<body class="bg-dark text-white font-nunito text-[16px]">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDV2X3JG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--NAVBAR-->
    {% include 'navbar.njk' %}

    <!--OBSAH STRANKY-->
    {{ content | safe }}
    
    <!--FOOTER-->
    {% include 'footer.njk' %}
</body>
</html>