<!--FOOTER-->
<footer class="flex flex-col items-center px-[10px] py-[60px] gap-[40px]">
    <h2 class="text-[24px] md:text-[36px] uppercase font-light flex leading-[100%] tracking-wider">
        <span class="w-fit px-[20px] py-[10px] bg-dark rounded-[20px] border-[1px] border-white10">Jan Panzenberger</span>
    </h2>
    <div class="flex flex-row gap-[40px]">
        <div class="flex bg-dark border-[1px] border-white10 py-[10px] px-[16px] rounded-[12px] items-center gap-[20px]">
            <a href="https://www.linkedin.com/in/jan-panzenberger-789634277/" target="_blank"><img src="/assets/linkedin.svg" alt="LinkedIn link icon" class="w-[24px] md:w-[32px]"></a>
            <!--<img src="/assets/github.svg" alt="GitHub link icon">-->
        </div>
        <div class="bg-dark border-[1px] border-white10 py-[10px] px-[16px] rounded-[12px] items-center md:text-[24px]">
            <a class="flex gap-[20px]" href="/assets/cv_panzenberger.pdf" target="_blank" download="">
                <img src="/assets/download.svg" alt="download icon" class="w-[24px] md:w-[32px]">
                Stáhnout CV
            </a>
        </div>
    </div>
</footer>