---
layout: 'base.njk'
---

<!--ČLÁNEK-->
<div class="flex flex-col items-center px-[20px] md:px-[40px] py-[60px] pt-[120px] border-b-[1px] border-white10" id="skills">
    <div class="flex flex-col gap-[20px] w-[800px] max-w-full">
        <div class="py-1 px-[20px] bg-dark border-[1px] border-white10 rounded-[6px] items-center md:text-[16px] w-fit text-gray transition duration-150 ease-in-out hover:bg-white10 hover:text-white">
            <a href="javascript:history.back()" class="flex gap-[20px]">
                Zpět
            </a>
        </div>
        <article class="flex flex-col gap-[20px]">
            <div>
                <h1 class="text-[36px]">{{ title }}</h1>
                <p class="mt-[10px] text-gray">{{ author }} - {{ date | postDate }}</p>
            </div>
            <p>{{ post.data.description }}</p>
            <figure class="flex flex-col gap-2 text-gray italic">
                <img class="w-full rounded-[12px] border-[1px] border-white10" src="{{ image }}" alt="{{ imageAlt }}">
                <figcaption>{{ imageAlt }}</figcaption>
            </figure>
            
            <div class="py-[40px] leading-loose">
                {{ content | safe }}
            </div>
        </article>
        <div class="py-1 px-[20px] bg-dark border-[1px] border-white10 rounded-[6px] items-center md:text-[16px] w-fit text-graytransition duration-150 ease-in-out hover:bg-white10">
            <a href="javascript:history.back()" class="flex gap-[20px]">
                Zpět
            </a>
        </div>
    </div>
</div>