---
title: Jan Panzenberger | Webdesigner z Havířova
description: Web development a design znám jak svoje boty. Vytvořím vám web na míru, který naplní potřeby vašeho podnikání.
keywords: web developer, web designer, web na míru, web development, programátor
layout: "base.njk"
---
<!--HEADER SEKCE-->
<header class="flex flex-col items-center md:items-stretch justify-center lg:justify-end gap-[20px] p-[40px] border-b-[1px] border-white10 md:h-[60vh] h-[100vh] bg-colors" style="background-image: url(/assets/colors-czerwinski.webp); background-size: cover;">
    <h1 class="text-[36px] md:text-[48px] lg:text-[72px] uppercase font-light flex flex-col gap-[20px] leading-[100%] tracking-wider items-center md:items-start">
        <span class="w-fit px-[20px] py-[10px] bg-dark rounded-[20px] border-[1px] border-white10">Postavme</span>
        <span class="w-fit px-[20px] py-[10px] bg-dark rounded-[20px] border-[1px] border-white10">spolu web!</span>
    </h1>
    <div class="flex justify-between gap-[40px]">
        <div class="flex bg-dark border-[1px] border-white10 py-[10px] px-[16px] rounded-[12px] items-center gap-[20px]">
            <a href="https://www.linkedin.com/in/jan-panzenberger-789634277/" target="_blank"><img src="/assets/linkedin.svg" alt="LinkedIn link icon" class="w-[24px] md:w-[32px]"></a>
            <!--<img src="/assets/github.svg" alt="GitHub link icon">-->
        </div>
        <div class="flex gap-[20px]">
            <!--
            <div class="flex bg-dark border-[1px] border-white10 py-[10px] px-[16px] rounded-[12px] items-center">
                <img src="/assets/scroll.svg" alt="scroll">
            </div>
            !-->
            <div class="bg-dark border-[1px] border-white10 py-[10px] px-[16px] rounded-[12px] items-center md:text-[24px]">
                <a class="flex gap-[20px]" href="/assets/cv_panzenberger.pdf" target="_blank" download="">
                    <img src="/assets/download.svg" alt="download icon" class="w-[24px] md:w-[32px]">
                    Stáhnout CV
                </a>
            </div>
        </div>
    </div>
</header>

<!--SEKCE O MNĚ-->
<div class="flex flex-col pt-[60px] pb-[40px] px-[20px] md:px-[40px] items-center scroll-m-[40px]" id="about-me">
    <div class="flex flex-col p-[40px] gap-[40px] border-[1px] border-white10 rounded-[20px] w-[1000px] max-w-full items-center">
        <img src="/assets/panzani.webp" alt="Fotka" class="rounded-full border-[1px] border-white10 w-[72px]">
        <p class="text-center text-[24px] md:w-[55%]">Jmenuju se Honza. Jsem programátor a webdesigner z Havířova. Tohle je můj vlastní kousek internetu, kde se rozkecávám o tom co mě baví a v čem jsem dobrý.</p>
        <a class="text-dark text-[18px] px-[16px] py-[8px] rounded-[12px] bg-gold100" href="#offer">Co nabízím?</a>
    </div>
</div>

<!--SEKCE PROJEKTY-->
<div class="flex flex-col items-center px-[20px] md:px-[40px] gap-[40px] scroll-m-[60px]" id="projects">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-[40px] w-[1000px] max-w-full m-auto">
        <a href="https://pijuzdrave.cz" target="_blank">
            <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[10px] flex flex-col">
                <h2 class="text-[24px]">E-shop s minerálními filtry</h2>
                <p>WordPress, Woocommerce</p>
            </div>
        </a>
        <a href="https://investice.trdlokafe.cz" target="_blank">
            <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[10px] flex flex-col">
                <h2 class="text-[24px]">Web franšízy s trdelníky</h2>
                <p>WordPress</p>
            </div>
        </a>
        <a href="https://uizardry.framer.website/" target="_blank">
            <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[10px] flex flex-col">
                <h2 class="text-[24px]">Návrh webu digitální agentury</h2>
                <p>Framer, React</p>
            </div>
        </a>
        <a href="https://tidy-deck-599556.framer.app/" target="_blank">
            <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[10px] flex flex-col">
                <h2 class="text-[24px]">Návrh LP velkododavatele</h2>
                <p>Framer</p>
            </div>
        </a>
    </div>
    <a class="text-dark text-[18px] px-[16px] py-[8px] rounded-[12px] bg-green100 w-fit" href="https://contra.com/jan_td99jhvq" target="_blank">Contra profil</a>
</div>

<!--SEKCE MOJE SKILLS-->
<div class="flex flex-col items-center px-[20px] md:px-[40px] py-[60px] border-b-[1px] border-white10" id="skills">
    <div class="flex flex-col gap-[20px] w-[1000px] max-w-full">
        <h2 class="text-[24px]">Moje dovednosti</h2>
        <p class="md:w-[50%]">Zkonzultujeme společně potřeby Vašeho webu a pomohu vám zvolit ten správný jazyk či platformu pro jeho realizaci.</p>
        <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[20px] grid grid-cols-1 md:grid-cols-2" style="background-image: url(/assets/colors-czerwinski-dimm.webp); background-size: cover;">
            <div>
                <h3>Jazyky</h3>
                <p>HTML, CSS, JavaScript, Typescript, PHP, Python, C, C#</p>
            </div>
            <div>
                <h3>Nástroje a platformy</h3>
                <p>React, Next.js, Tailwind, 11ty, WordPress</p>
            </div>
        </div>
    </div>
</div>

<!--SEKCE NABIDKA-->
<div id="offer" class="flex flex-col items-center px-[20px] md:px-[40px] py-[60px] border-b-[1px] border-white10" id="offer">
    <div class="flex flex-col gap-[20px] w-[1000px] max-w-full">
        <h2 class="text-[24px]">Co nabízím?</h2>
        <p class="md:w-[50%]">Moderní, responzivní, udržitelné a úsporné weby, které poběží na jakékoliv platformě a upoutají Vaše zákazníky.</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[40px] w-[1000px] max-w-full m-auto">
            <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[10px] flex flex-col w-full">
                <h3 class="text-[24px]">Potenciál pro růst publika</h3>
                <p>Web by měl sloužit jako nástroj pro získávání zákazníků. Proto se budeme věnovat i způsobům, jak pomocí webu zaujmout.</p>
                <div class="flex grow items-end">
                    <button class="text-dark text-[18px] px-[16px] py-[8px] rounded-[12px] bg-green100 w-fit mt-6">Zjistit více</button>
                </div>
            </div>
            <div class="border-[1px] border-white10 rounded-[20px] px-[30px] py-[20px] gap-[10px] flex flex-col w-full">
                <h3 class="text-[24px]">Ušetřím Vaše peníze</h3>
                <p>Spousta menších firem udělá chybu v tom, že zvolí nevhodný způsob, jak web postavit. Nechte si poradit, jak ho vytvořit co nejefektivněji - ušetříte si nervy i peníze.</p>
                <div class="flex grow items-end">
                    <button class="text-dark text-[18px] px-[16px] py-[8px] rounded-[12px] bg-gold100 w-fit mt-6">Zjistit více</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SEKCE S FORMULAREM-->
<div class="flex flex-col items-center px-[20px] md:px-[40px] py-[60px] border-b-[1px] border-white10" style="background-image: url(/assets/colors-czerwinski.webp); background-size: cover;" id="contact">
    <div class="flex flex-col gap-[20px] w-[1000px] max-w-full items-center">
        <h2 class="text-[36px] uppercase font-light flex leading-[100%] tracking-wider">
            <span class="w-fit px-[20px] py-[10px] bg-dark rounded-[20px] border-[1px] border-white10">Začněme tady!</span>
        </h2>
        <div class="flex gap-[10px]">
            <p class="text-[16px] font-light flex gap-[20px] leading-[100%] tracking-wider">
                <span class="w-fit px-[10px] py-[5px] bg-dark rounded-[12px] border-[1px] border-white10">+420 730 431 691</span>
            </p>
            <p class="text-[16px] font-light flex gap-[20px] leading-[100%] tracking-wider">
                <span class="w-fit px-[10px] py-[5px] bg-dark rounded-[12px] border-[1px] border-white10">jan@panzenberger.cz</span>
            </p>
        </div>
        <form action="https://submit-form.com/ZeWwYBx5k" class="flex flex-col gap-[20px] py-[20px] w-[1000px] max-w-full">
            <label class="hidden" for="name">Vaše jméno:</label>
            <input class="px-[16px] py-[12px] rounded-[12px] border-[1px] border-white10 bg-dark outline-none placeholder-gray" type="text" name="name" id="name" placeholder="Vaše jméno" required>
            <label class="hidden" for="name">Váš e-mail:</label>
            <input class="px-[16px] py-[12px] rounded-[12px] border-[1px] border-white10 bg-dark outline-none placeholder-gray" type="text" name="email" id="email" placeholder="Váš e-mail" required>
            <label class="hidden" for="name">Vaše zpráva:</label>
            <textarea class="px-[16px] py-[12px] rounded-[12px] border-[1px] border-white10 bg-dark outline-none placeholder-gray" name="message" id="message" placeholder="Co si představujete?" required></textarea>
            
            <div class="flex flex-row gap-[20px]">
                <button type="submit" class="text-dark text-[18px] px-[16px] py-[8px] rounded-[12px] bg-gold100 w-fit flex gap-[10px] items-center"><img src="/assets/send.svg" alt="paper plane icon">Odeslat</button>
                <!-- <button class="text-dark text-[18px] px-[16px] py-[8px] rounded-[12px] bg-green100 w-fit flex gap-[10px]"><img src="/assets/calendar.svg" alt="calendar icon">Zjistit více</button> -->
            </div>
        </form>
    </div>
</div>